@import '../constants.scss';

button {
    cursor: pointer;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.button {

    &-primary,
    &-decorative,
    &-secondary-decorative,
    &-icon,
    &-icon-small,
    &-secondary,
    &-accessory,
    &-tiny,
    &-text {
        font-family: 'Jost';
        border-radius: 12px;
        border: 0px;
        height: 28px;
        font-size: 16px;
        vertical-align: center;
        gap: 8px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;

        &.large {
            height: 40px;
        }
    }


    &-primary,
    &-decorative,
    &-secondary-decorative,
    &-secondary {
        padding: 4px 16px;

        img {
            height: 12px;
            width: 12px;
        }
    }

    &-primary {
        height: 32px;
        background-color: #84A28F;
        color: white;

        &:hover {
            background-color: $lightBlue;
        }
        &:disabled {
            background-color: $lightBlue;
            cursor: default;
        }
    }

    &-secondary {
        background-color: white;
        color: #000;

        &:hover {
            background-color: #caddd1;
        }
    }

    &-icon {
        background-color: white;
        height: 28px;
        width: 28px;
        min-width: 28px;
        border-radius: 28px;

        img {
            height: 12px;
            width: 12px;
        }

        &:hover {
            background-color: #caddd1;
        }
    }

    &-icon-small {
        background-color: white;
        height: 24px;
        width: 24px;
        min-width: 24px;

        img {
            height: 12px;
            width: 12px;
        }

        &:hover {
            background-color: #caddd1;
        }
    }

    &-accessory {
        background-color: white;
        height: 28px;
        width: 28px;
        outline: 1px solid black;
        position: absolute;
        top: -10px;
        right: -10px;
    }

    &-decorative {
        background-color: $orange;
        color: $white;

        p {
            color: $white;
        }

        &:hover {
            background-color: $lightOrange;
        }

        &:disabled {
            background-color: $lightOrange;
            cursor: default;
        }
    }

    &-secondary-decorative {
        background-color: $lightBlue;
        color: #787878;

        p {
            color: #787878;
        }

        &:hover {
            background-color: $pear;
        }
    }

    &-text {
        background-color: transparent;
        height: 20px;
        font-size: 14px;
        font-weight: 600;
        color: $orange;

        &:hover {
            color: $lightOrange;
        }
    }

    &-tiny {
        width: 28px;
        height: 28px;
        border-radius: 16px;
        border: none;
        background-color: transparent;
        padding: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        img {
            height: 16px;
            width: 16px;
        }
        &:hover {
            background-color: $lightBlue;
        }
        &:disabled {
            background-color: transparent;
            opacity: 0.2;
            cursor: default;
        }
    }
}