@import "../../../Style/constants.scss";

.today {
    border: 2px solid $green;
    border-radius: 16px;
    padding: 24px 36px;
    height: 100%;
    gap: 20px;

    &-header {
        justify-content: space-between;
    }

    .addfood {
        gap: 12px;
        width: 100%;
        justify-content: right;
        transform: .75s width; // TODO: fix

        .input {
            height: 32px;

            &-text {
                &:focus {
                    background-color: green;
                }
            }
        }

        .closed {
            width: 0%;
            display: none;
        }
    }

    .card-row {
        gap: 16px;
        width: 100%;
    }
}