.content {
    padding: 24px;
    gap: 24px;
    max-width: 100vw;
    &-left {
        flex-grow: 1;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &-right {
        width: fit-content;
    }
}
  