.app-background {
    background-color: #84A28F;
    top: 0;
    position: absolute;
    height: 335px;
    width: 100%;
    z-index: -1;
  }

.content {
    padding: 24px;
    gap: 24px;
    max-width: 100vw;
    &-left {
        flex-grow: 1;
        overflow: hidden;
    }
    &-right {
        min-width: 400px;
    }
}
  