$neutral: #F1EFE2;
$green: #0E3C33;
$darkGreen: #192624;
$pear: #B9C5B9;
$lightBlue: #DFE7DF;
$darkOrange: #B35324;
$orange: #DD8256;
$lightOrange: #EBCEB8;
$pastel: #617FE9;
$dark: #21211F;
$white: #fff;
$error: #C65B5B;

$boxShadow: 0px 4px 4px 0px $dark;
$cardRadius: 12px;
$bubbleRadius: 24px;
