.header-1,
.header-1-w {
    color: #58886B;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: left;
    flex-shrink: 0;
    align-items: center;

    &-w {
        color: white;
    }
}

p {
    padding: 0;
    margin: 0;
    text-align: left;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

button {
    background-color: white;
    border-radius: 24px;
    height: 28px;
    border: 0px;
    padding: 4px 16px;
    font-size: 16px;
    vertical-align: center;
    gap: 8px;
    align-items: center;
    img {
        height: 12px;
        width: 12px;
    }
    &.button-green {
        background-color: #84A28F;
        color: white;
    }
}

.MuiTextField-root {
    border-radius: 24px;
    font-size: 12px;
    background-color: #fff;

    div {
        display: flex;
        flex-direction: row;
        gap: 8px;
    }

    input {
        padding: 0px;
        height: 28px;
    }

    &.search-bar {
        min-width: 120px;
        height: 28px;
        margin: 0px;
    }
}

.MuiInputBase-root {
    background-color: #fff;
    border-radius: 24px !important;

    fieldset {
        border: none !important;
        outline: none !important;
    }
}

.MuiSelect-select {
    padding: 0px !important;
    min-width: 100px !important;
    svg {
        padding-left: 8px !important;
        position: relative;
    }
}

.circle-button {
    height: 28px;
    width: 28px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}