@import '../../../Style/constants.scss';

.modal {
    &-background {
        position: absolute;
        background-color: $darkGreen;
        opacity: .8;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
    }

    &-container {
        display: flex;
        flex-direction: column;
        max-width: 450px;
        height: 500px;
        width: 350px; // TODO: remove?
        background-color: $white;
        overflow: hidden;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        border-radius: 24px;
        padding: 24px;
        gap: 16px;
    }

    &-header {
        display: flex;
        flex-direction: row;
        gap: 16px;
        align-items: center;
        justify-content: space-between;
        & .modal-title {
            gap: 16px;
            align-items: center;
        }
    }

    &-chips {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 100%;
        flex-grow: 1;
        height: 370px; // why no work??
        overflow-y: scroll;
    }

    &-add {
        display: flex;
        flex-direction: row;
        gap: 12px;
        width: 100%;
    }

    &-footer {
        display: flex;
        flex-direction: row;
        gap: 12px;
        justify-content: flex-end;
        width: 100%;
    }
}